/* .title {
    background-color: black;
}
h1, span {
    color: cyan;
}
.white {
    color: white;
} */
/* span {
    color: cyan;
} */
.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    border: 10px solid silver;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 10px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    /* border: 10px solid silver; */
    display: inline-block;  /* lines up elements next to each other */

}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    vertical-align: top;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
}

